<h3>{{viewTitle}}</h3>

<form action="/voter" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{voter._id}}">
    {{!-- <h3>Insert Learner Details</h3> --}}

    <div class="form-group">
        <label>Full Name</label>
        <input type="text" class="form-control" name="fullName" placeholder="Full Name" value="{{voter.fullName}}">
        <div class="text-danger">
            {{voter.fullNameError}}</div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Date Of Birth</label>
            <input type="date" class="form-control" name="date" placeholder="Date" value="{{voter.date}}">
        </div>
        <div class="form-group col-md-6">
            <label>City</label>
            <input type="text" class="form-control" name="city" placeholder="City" value="{{voter.city}}">
        </div>

    </div>
    <div class="form-group">
        <label>Sex</label>
        <select type="text" class="form-control" name="sex" placeholder="Sex" value="{{course.sex}}">
            <option value=""></option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/voter/list"><i class="fa fa-list-alt"></i> Display Data</a>
    </div>
</form>