<h3><a class="btn btn-secondary" href="/candidate"><i class="fa fa-plus"></i> Create New</a> Candidate List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Candidate Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Ward No</th>
            <th>Party Name</th>
            <th>Party Symbol</th>
        </tr>
    </thead>
    <tbody>
        {{#each list1}}
        <tr>
            
            <td>{{this.candidateName}}</td>
            <td>{{this.age}}</td>
            <td>{{this.city}}</td>
            <td>{{this.ward}}</td>
            <td>{{this.partyName}}</td>
            <td>{{this.symbol}}</td>
            <td>
                <a href="/candidate/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/candidate/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>